.label-div-wrapper {
  display: flex;
  flex-direction: column;
  
}

.page-wrapper {
  /* width: 30%; */
  margin: 20rem auto;
}

form {
  width: 50%;
  margin: 5rem auto;
}

#submit {
  width: 30%;
  margin: 2rem auto;
  background-color: darkblue;
  color: white;
}

.response-wrapper {
  width: 60%;
  margin: 2rem auto;
}

.response {
  border: 1px solid darkblue;
  margin: 1rem auto;
  border-radius: 20px;
  padding: 1rem;
}